:root {
    --primary-color: #917758;
    --secundary-color: #3c2915;
    --primary-light-color: #f5eee6;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/*********
**HOME
**********/


.home {
    position: relative;
    background-size: cover;
    background-image: url(../img/bg-home.jpg);
    height: 100vh; /* vh: viewport hate */
    background-attachment: fixed;
}

.home .header {
    padding: 30px 0;
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.home .header .nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

.home .header .nav ul li a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color)
}

.home .header .nav ul li .logo {
    margin: 0 35px;
}


/*********
**HOME - Banner
**********/


.home .header .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 326px;
    width: 890px;
    margin-left: -445px;
    margin-top: -88px;
    text-align: center;
    color: #fff;
}

.home .banner span {
    display: block;
}

.home .banner .before-h1 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 5px;
    color: var(--primary-color)
}

.home .banner h1 {
    font-weight: bold;
    font-size: 140px;
    padding: 0;
    margin: 0;
}

.home .banner .after-h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

/*********
**ABOUT - Timing
**********/

.about {
    background-color: var(--primary-color);
    height: 680px;
}

.about .container {
    display: flex;
}

.about .timing {
    width: 33%;
    background-image: url(../img/brush-big.jpg);
    padding: 10px;
    position: relative;
    top: -50px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.56);
}

.about .timing .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 40px 20px;
}

.about .timing .overlay .cut-icon {
    width: 40px;
}

.about .timing .overlay h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    border-bottom: 1px solid var(--primary-color);
    width: fit-content;
    margin: 0 auto 30px auto;
    font-size: 30px;
}

.about .timing .text {
    margin: 16px 0;
}

.about .timing .text::after {
    font-size: 26px;
    content: '•';
    color: #fff;
    display: block;
    margin-top: 16px;
}

.about .timing .text:last-of-type:after {
    content: '|'
}

.about .timing .text h4 {
    color: rgb(194, 194, 194);
    font-weight: 400;
    font-size: 16px;
}

.about .timing span {
    color: #fff;
    font-size: 16px;
    display: block;
}


/*********
**ABOUT - Experience
**********/


.about .experience {
    width: 66%;
    color: #fff;
    font-weight: 400;
    margin-left: 7%;
    margin-top: 60px;
}

.about .experience h2 {
    font-size: 35px;
    font-weight: 400;
}

.about .experience h2:after {
    display: block;
    content: '';
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin: 20px 0;
}

.about .experience .text {
    display: flex;
    justify-content: space-between;
}

.about .experience .text p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

/*********
**SERVICES
**********/

.services {
    padding: 100px 0;
    text-align: center;
    background-color: var(--primary-light-color);
}

.services h2 {
    color: var(--secundary-color);
    text-transform: uppercase;
    font-size: 50px;
}

.services .boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.services .boxes .box {
    padding: 80px;
    border: 1px solid var(--primary-color);
    margin: 0 10px;
    border-radius: 20px;
    transition-duration: 250ms;
}

.services .boxes .box:hover {
    padding: 80px;
    border: 1.5px solid var(--secundary-color);
    margin: 0 10px;
    border-radius: 20px;
}

.services .boxes .box h4 {
    color: var(--secundary-color);
    margin-top: 30px;
}

.services .boxes .box p {
    margin-top: 15px;
}

/*********
**APPOINTMENT
**********/

.appointment {
    background-color: var(--primary-color);
    height: 75vh;
    padding-top: 100px;
    background-image: url('../img/chair-ic.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 300px;
}

.appointment h2 {
    color: var(--primary-light-color);
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.appointment img {
    margin: 0 auto;
    display: block;
}

.appointment form {
    margin-top: 100px;
}

.appointment .personal-data {
    display: flex;
    justify-content: space-around;
}

.appointment label {
    display: block;
    color: var(--primary-light-color);
    margin-bottom: px;
}

.appointment .personal-data .input-wrapper input,
.appointment .personal-data .input-wrapper select,
.appointment .input-wrapper textarea {
    padding: 15px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.appointment .personal-data .input-wrapper input::placeholder {
    color: var(--primary-color);
    font-weight: 400;
}

.appointment .input-wrapper .message-label {
    margin-top: 30px;
}

.appointment .input-wrapper textarea {
    width: 91%;
    height: 150px;
    resize: none;
}

.appointment .input-wrapper .message-label,
.appointment .input-wrapper textarea {
    margin-left: 4.5%;
}

.appointment button {
    margin-left: 4.5%;
    margin-top: 30px;
    padding: 10px;
    width: 110px;
    border: none;
    border-radius: 5px;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    transition-duration: 500ms;
}

.appointment button:hover {
    width: 111px;
    color: #fff;
    font-size: 14.5px;
    cursor: pointer;
}

/*********
**GALLERY
**********/

.gallery {
    padding: 80px;
    background-color: var(--primary-light-color);
}

.gallery h2 {
    margin-top: 50px;
    color: var(--primary-color);
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.gallery img {
    margin: 0 auto;
    display: block;
}

.gallery .gallery-wrapper {
    display: flex;
    flex-direction: column;
    height: 86vh;
    flex-wrap: wrap;
    width: 1000px;
    margin: 50px auto;
}

.gallery .gallery-wrapper div {
    border:  10px solid var(--primary-color);
    margin: 6px;
    width: 33%;
}

.gallery .gallery-wrapper div img {
    width: 100%;
}

.gallery .gallery-wrapper .div-img2 {
    height: 451px;
    overflow: hidden;
}

.gallery .gallery-wrapper .img2 {
    width: 355px;
}

.gallery .gallery-wrapper .div-img7 {
    height: 470px;
    overflow: hidden;
}

.gallery .gallery-wrapper .img7 {
    width: 485px;
}

/*********
**LOCATION
**********/

.location {
    height: 82vh;
    padding: 100px 0;
    background: url(../img/bg-location.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.location .head {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
    padding: 40px;
    width: 100%;
}

.location .head .info {
    display: flex;
    align-items: center;
}

.location .head .info .text {
    color: #fff;
}

.location .head .info .text span {
    font-size: 14px;
    display: block;
}

.location .head .info .text span:first-child {
    font-size: 14px;
    color: silver;
    display: block;
}

.location .head .info .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 2px solid var(--primary-color);
    padding: 10px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.location .map {
    width: 100%;
}

.location .map iframe{
    width: 100%;
}

/*********
**FOOTER
**********/

.footer {
    background-color: #191919;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 700px) {
    .home {
        background-position: 82%;
        width: 160vh;
        height: 301vh;
    }

    .home .header .banner {
        margin-top: 45vh;
    }

    .home .header .nav ul li {
        display: none;
    }

    .home .header .banner {
        top: 5%
    }
    
    .home .banner .before-h1 {
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 400;
    width: 865px;
    text-align: center;
    margin-left: 41px;
    letter-spacing: 5px;
    color: var(--primary-color);
    }

    .home .banner h1 {
        font-size: 30vh;
        margin-top: 10vh;
    }

    .home .banner .after-h1 {
        font-size: 58px;
        margin-top: 5vh;
    }

    .home .header .banner img {
        width: 155px;
        margin-top: 5vh;
    }

    .about {
        width: 160vh;
        height: 300vh;
    }

    .about .timing {
        display: none;
    }

    .about .experience {
        margin-top: 150px;
    }

    .about .experience .text div {
        width: 141vh;
        margin-left: 89px;
    }

    .about .experience .text img {
        display: none;
    }

    .about .experience span {
        font-size: 58px;
    }

    .about .experience h2 {
        font-size: 140px;
        font-weight: 400;
    }

    .about .experience h2:after {
        width: 48vh;
        height: 6px;
    }

    .about .experience .text p {
        margin: 70px auto;
        text-align: justify;
        font-size: 48px;
        font-weight: 400;
    }

    .services {
        width: 160vh;
        height: 530vh;
    }

    .services h2 {
        font-size: 130px;
    }

    .services .container:nth-child(2) {
        width: 340px;
    }

    .services .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services .boxes .box {
        width: 90vh;
        height: 140vh;   
        margin: 5vh 0;     
    }

    .services .boxes .box h4 {
        font-size: 61px;
    }

    .services .boxes .box p {
        font-size: 42px;
        margin-top: 10vh;
    }

    .services .boxes .box img {
        width: 15vh;
    }

    .services .boxes .box img:nth-child(3) {
        width: 10vh;
        margin-top: 10vh;
    }

    .appointment {
        width: 160vh;
        height: 300vh;
    }

    .appointment h2 {
        font-size: 120px;
    }

    .appointment img:nth-child(2) {
        width: 40vh;
        margin-top: 50px;
    }

    .appointment form .personal-data {
        display: flex;
        flex-direction: column;
    }

    .appointment form .personal-data .input-wrapper {
        margin: 10px 0;
    }

    .appointment form .personal-data .input-wrapper input,
    .appointment form .personal-data .input-wrapper select,
    .appointment form .input-wrapper textarea {
        margin: 20px 20vh;
        width: 120vh;
        padding: 67px;
        font-size: 51px;
    }

    .appointment form .input-wrapper textarea {
        height: 50vh;
    }

    .appointment form .personal-data .input-wrapper label,
    .appointment form .input-wrapper .message-label {
        margin-left: 20vh;
        font-size: 46px;
    }

    .appointment form {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .appointment button {
        margin-left: 28.5%;
        margin-top: 87px;
        padding: 5vh;
        width: 70vh;
        font-size: 38px;
    }

    .appointment button:hover {
        margin-top: 87px;
        padding: 5vh;
        width: 70vh;
        font-size: 38px;
    }

    .gallery {
        width: 100vh;
        height: 435vh;
    }

    .gallery h2 {
        font-size: 140px;
    }

    .gallery img:nth-child(2) {
        width: 40vh;
        margin-top: 20px;
    }

    .gallery .gallery-wrapper {
        height: 350vh;
        width: 425vh;
    }

    .gallery .gallery-wrapper div {
        margin-top: 5vh;
    }

    .gallery .gallery-wrapper div:nth-child(2),
    .gallery .gallery-wrapper div:nth-child(5),
    .gallery .gallery-wrapper div:nth-child(7) {
        display: none;
    }

    .location {
        width: 160vh;
        height: 90vh;
    }

    .location .head {
        margin-top: 0px;
    }

    .location .map {
        width: 100%;
    }

    .footer {
        width: 160vh;
        font-size: 25px;
    }
}

@media (min-width: 700px) and (max-width: 1330px) {

    .home {
        background-position: right;
        width: 160vh;
        min-height: 135vh;
    }

    .home .header .banner {
        margin-top: 0px;
    }

    .home .header .nav ul li:nth-child(4) {
        display: none;
    }

    .home .header .nav ul li:nth-child(6) {
        padding: 0 120px;
    }


    .home .header .nav ul li a {
        margin-top: 25px;
        font-size: 20px;
        justify-content: space-around;
    }

    .home .header .banner {
        top: 35%
    }
    
    .home .banner .before-h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    width: 625px;
    text-align: center;
    margin-left: 118px;
    letter-spacing: 5px;
    color: var(--primary-color);
    }

    .home .banner .after-h1 {
        font-size: 26px;
    }

    .home .header .banner img {
        width: 60px;
    }

    .about {
        width: 160vh;
        height: 100vh;
    }

    .about .timing {
        width: 40%;
        top: 17px;
    }

    .about .experience .text div {
        width: 500px;
        margin-left: 50px;
    }

    .about .experience .text img {
        display: none;
    }

    .about .experience span {
        font-size: 25px;
    }

    .about .experience h2 {
        font-size: 43px;
        font-weight: 400;
    }

    .about .experience .text p {
        margin-bottom: 20px;
        font-size: 21px;
        font-weight: 400;
    }

    .services {
        width: 160vh;
    }
    
    .services .boxes .box h4 {
        font-size: 28px;
    }

    .services .boxes .box p {
        font-size: 20px;
    }

    .appointment {
        width: 160vh;
        height: 160vh;
    }

    .appointment h2 {
        font-size: 60px;
    }

    .appointment form .personal-data {
        display: flex;
        flex-direction: column;
    }

    .appointment form .personal-data .input-wrapper {
        margin: 10px 0;
    }

    .appointment form .personal-data .input-wrapper input,
    .appointment form .personal-data .input-wrapper select,
    .appointment form .input-wrapper textarea {
        margin: 10px 30vh;
        width: 100vh;
        padding: 27px;
        font-size: 24px;
    }

    .appointment form .personal-data .input-wrapper label,
    .appointment form .input-wrapper .message-label {
        margin-left: 30vh;
        font-size: 24px;
    }

    .appointment form {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .appointment button {
        margin-left: 38.5%;
        margin-top: 87px;
        padding: 2vh;
        width: 40vh;
        font-size: 38px;
    }

    .appointment button:hover {
        margin-top: 87px;
        padding: 5vh;
        width: 70vh;
        font-size: 38px;
    }

    .gallery {
        width: 160vh;
    }

    .gallery h2 {
        font-size: 70px;
    }

    .location {
        width: 160vh;
        height: 90vh;
    }

    .location .head {
        margin-top: 0px;
    }

    .location .map {
        width: 100%;
    }

    .footer {
        width: 160vh;
        font-size: 25px;
    }
}